#foods-index {
    //table
    .table-price {
        width: 67px;
    }

    // card switch
    .form-switch {
        .form-check-input {
            margin-top: 0.35em;
            margin-left: 0.25em;
        }
    }

    // dropdown
    .dropdown {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .btn {
        border-color: transparent;
        &:after {
            content: none;
        }
    }
}
