@media only screen and (max-width: 778px) {
    .contact-us {
        display: none;
    }

    .login {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .cart {
        display: none;
    }
}

@media only screen and (max-width: 554px) {
    .login {
        display: none;
    }
}

header {
    background-color: black;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    .nav-restaurant-banner {
        margin-bottom: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid transparent;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
        }
    }

    .logo {
        width: 200px;
    }

    .logo2 {
        width: 350px;
    }

    .nav-but {
        background-color: white;
        padding: 5px 10px;
        border-radius: 6px;
        margin-left: 5px;
    }

    .sub-menu-item {
        font-size: 0.9rem;
        padding: 8px;
    }

    .primary-icon {
        color: $light_green;
        padding-right: 6px;
    }

    .sign-up-button {
        color: white;
        background-color: $light_green;
        padding: 15px 100px;
        border-radius: 6px;
    }

    .choose-your-button {
        width: 350px;
        height: 50px;
    }

    .offcanvas-body {
        position: relative;

        .off-canvas-menu {
            a {
                color: black;
            }
        }
    }

    .my-rounded {
        margin-top: 5px;
        border-radius: 33px;
        padding: 2rem;
        width: 85%;
    }
}

.btn-menu {
    color: black;

    &:hover {
        color: $light_green;
        font-size: 18px;
    }
}
