.navbar {
    background-color: $light_green;
}

img {
    width: 40px;
}

.text-link {
    display: inline;
    font-size: larger;
    margin-top: 0.3rem;
    color: white;
    text-decoration: none;
}

.link {

    .one-link {
        font-size: medium;
        color: white;
        text-decoration: none;
    }
}