#sidebar {
    background-color: $light_green;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    h2 {
        display: none;
    }

    ul {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    opacity: 0.8;
                }

                i {
                    color: #fff;
                    font-size: 2rem;
                }

                span {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #sidebar {
        box-shadow: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.075);

        h2 {
            display: block;
            margin-top: 1rem;
            text-align: center;
            color: #fff;
        }

        ul {
            margin-top: 1rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: normal;

            li {
                margin: 0.5rem;

                &:last-child {
                    margin-left: 0.7rem;
                }

                a {
                    display: inline-block;
                    padding: 0.5rem 0;

                    i {
                        font-size: 1.5rem;
                    }

                    span {
                        display: inline-block;
                        font-size: 20px;
                        font-weight: 700;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
}
